.subhead {
	background-color: grey;
  	color: white;
	border: none;
}

.callout.subhead{
	margin:0;
}

.about {
	border: none;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.button{
	margin: .5rem;
	}

.features {
	background-color: #e5f3fc;	
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.top-bar ul{
	background:none;
}

.top-bar{
	background-image: url(Assets/gradient_header.png)
}

.size-wrapper{
	max-width: 1000px;
	margin:auto;
}

.mobile-sub-menu {
	background-color: black;
	color: white;
}

.mobile-sub-menu button.menu-icon {
	margin-left: 1.8rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.features, .about {
	color: grey;
}

.show-for-small-only.top-bar h3 {
	color: grey;
	display: inline;
	margin-left: 1rem;
}

.show-for-medium-only.top-bar h3 {
	color: grey;
	display: inline;
	margin-left: 1.5rem;
}

.show-for-large.top-bar h3 {
	color: grey;
	display: inline;
	margin-left: 1.5rem;
}

.show-for-large.top-bar .menu li {
	height: 90px;
}
